.aboutContainer {
  padding: 20px;
}

.contentBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  border: 1px solid #FFA500; /* Oranžen rob */
  box-shadow: 0 4px 12px rgba(255, 165, 0, 0.2); /* Oranžen shadow */
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}

.reverse {
  flex-direction: row-reverse;
}

.imageWrapper {
  flex: 1;
  max-width: 33%;
  padding: 0 10px;
}

.aboutImage {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: auto;
}

.textWrapper {
  flex: 2;
  padding: 0 20px;
}

.sectionTitle {
  font-size: 1.8rem;
  color: #a52a2a;
  margin-bottom: 12px;
  font-weight: 700;
}

.aboutTitle {
  font-size: 4rem;
  color: #1b1b1b;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 900;
  letter-spacing: -1px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.aboutText {
  font-size: 1.3rem;
  line-height: 1.9;
  color: #2b2b2b;
  text-align: justify;
  animation: slideUp 0.6s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
  .contentBlock {
    flex-direction: column !important;
    margin-bottom: 50px;
  }

  .imageWrapper, .textWrapper {
    max-width: 100%;
    padding: 0;
  }

  .aboutTitle {
    font-size: 2.5rem;
  }

  .sectionTitle {
    font-size: 1.4rem;
    text-align: center;
  }

  .aboutText {
    font-size: 1.1rem;
  }
}
