@import "tailwindcss";

:root {
  --background: #d8cfc6; /* BEIGE ozadje */
  --foreground: #cec9bc;

  /* Dodatne barvne spremenljivke, če jih želiš uporabljati globalno */
  --beige: #e6dccb;
  --dark-text: #efe6bd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e0d9c7;
    --foreground: #561e1e; /* Kontrastna svetla barva za temni način */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
